<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="certPath" value="/Users/thj/Development/github/ic-sys/samples/sei-legacy/send/MOCES_cpr_gyldig.p12" />
		<add key="dataPath" value="/Users/thj/Development/github/ic-sys/ssi/client/test/AuthoriseUser.xml" />
		<add key="pluginName" value="dk.hob.ei.general.Plugin" /> <!--- dk.hob.ei.bdb.Plugin -->
		<add key="documentID" value="dea3f09e-576c-4b1c-a699-123456789098" />
		<add key="groupID" value="cefeb530-0882-11d9-b530-c72b18205aeb" />
		<add key="subject" value="" /> <!--- Dødsattesten --> <!--- Børnedatabase -->
		<add key="cpr" value="1312814435" /> 
	</appSettings>
</configuration>
