<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="certPath" value="/Users/thj/Development/github/ic-sys/samples/sei-legacy/send/MOCES_cpr_gyldig.p12" />
		<add key="dataPath" value="/Users/thj/Development/github/ic-sys/samples/sei-legacy/send/test/dk.hob.ei.bdb.Plugin.35f3ccd2-ad96-49db-8177-361baa5eec9c.xml" />
		<add key="pluginName" value="dk.hob.ei.bdb.Plugin" />
		<add key="groupID" value="cefeb530-0882-11d9-b530-c72b18205aeb" /> <!---{CEFEB530-0882-11D9-B530-C72B18205AEB} SST - Test Gruppe  -->
		<add key="subject" value="Børnedatabase" />
	</appSettings>
</configuration>
